.text {
  font-size: 14px;
  font-family: sans-serif;
  margin: 0;
}

.text.label {
  font-size: 10px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.text.paragraph {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
}

.text.sectionLabel {
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.text.sectionTitle {
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text.subheading {
  font-size: 18px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.01em;
  margin-bottom: 15px;

  @media only screen and (min-width: 768px) {
    font-size: 25px;
  }
}

.text.heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.01em;
  margin-bottom: 30px;

  @media only screen and (min-width: 768px) {
    font-size: 52px;
    line-height: 73px;
  }
}
