.location {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  width: 100%;

  &__field {
    display: flex;
    flex-direction: row;
    height: 40px;
    box-sizing: border-box;
  }

  &__input {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 0 0 3px;
    border-right: 0;
    padding: 10px;
    width: 100%;

    &--defaults {
      border-color: #c0c0c0;
    }
  }

  &__dropdown {
    border-radius: 0 3px 3px 0;
  }
}
