.carSearch {
  background-color: #ffffff;
  width: 370px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  &__label {
    margin-left: 15px;

    &--blue {
      color: #2e86ab;
    }
  }
}

@media only screen and (min-width: 768px) {
  .dd-wrapper {
    width: 100%;
    margin-right: 10px;
  }
}

.divider {
  color: #dddff1;
  margin: 25px 0;
}

.primaryButton {
  background-color: #2e86ab;
  margin-top: 10px;

  &:hover {
    background-color: #266f8f;
  }

  &__label {
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 auto;
  }
}
