.card {
  background-color: #ffffff;
  border: 1px solid #dddff1;
  box-sizing: border-box;
  padding: 30px;
  margin: 15px 0;
  max-width: 303px;
  min-height: 221px;

  @media only screen and (min-width: 768px) {
    margin: 0;
  }
}
