.signin {
  background-color: #ffffff;
  max-width: 570px;
  padding: 30px 50px 50px 50px;
  margin: 0 auto;
  box-sizing: border-box;

  @media only screen and (min-width: 768px) {
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
  }

  &__heading {
    color: #474b6d;
    text-align: center;
  }

  &__label {
    padding-bottom: 30px;
    text-align: right;

    &--blue {
      color: #2e86ab;
    }
  }
}

.primaryButton {
  background-color: #2e86ab;
  margin-top: 10px;

  &:hover {
    background-color: #266f8f;
  }

  &__label {
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 auto;
  }
}
