.headerBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0 30px 0;

  @media only screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  &__text {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #474b6d;
  }

  &__signin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &--hide {
      visibility: hidden;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    padding: 0;
    margin-left: 15px;
    border: 0;

    &:hover {
      background-color: #e9e9e9;
    }
  }
}
