.react-tabs {
  background: #ffffff;
  border-radius: 0px 0px 3px 3px;
  margin-top: 1rem;

  &__tab-list {
    display: flex;
    margin: 0;
    background: #ffffff;
    border-bottom: 1px solid #dddff1;
    padding-left: 0;
  }

  &__tab {
    text-transform: uppercase;
    list-style-type: none;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    padding: 20px 0;

    &--selected {
      background: #ffffff;
    }
  }
}
