.page {
  background-image: url("../../../assets/images/isle_of_skye.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  min-height: 700px;
  width: 100%;

  &__section {
    overflow: hidden;
  }
}

.homepage {
  max-width: 970px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.searchSection {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    margin: 60px 0;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (min-width: 768px) {
      padding-top: 30px;
      margin-right: 30px;
      margin-bottom: 30px;
    }

    &--shadow {
      color: #ffffff;
      text-shadow: 3px 4px 15px rgba(0, 0, 0, 1);

      @media only screen and (min-width: 768px) {
        padding-top: 20px;
      }
    }
  }
}

.react-tabs__tab {
  color: #c5c5c5;

  &--selected {
    color: #474b6d;
    border-bottom: 5px solid #2e86ab;
  }
}

.cardSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0 60px 0;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }

  &__title {
    padding-top: 5px;
    padding-bottom: 10px;

    &--car {
      color: #f18f01;
    }

    &--config {
      color: #c73e1d;
    }

    &--secure {
      color: #a23b72;
    }
  }
}
