.text {
  display: flex;
  flex-direction: column;

  &__input {
    border-width: 1px;
    border-style: solid;
    padding: 10px;

    &--defaults {
      border-color: #c0c0c0;
      border-radius: 3px;
    }
  }
}
