.page {
  background-image: url("../../../assets/images/isle_of_skye.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  min-height: 700px;
  width: 100%;

  &__section {
    overflow: hidden;
  }
}

.signinpage {
  max-width: 970px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto 20px auto;

  @media only screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}
